* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 64.2%;
}

body {
  min-height: 100vh;
  margin: 1rem 0rem 0rem 0rem;
  background-image: url(img/desktop/image-header.jpg);
  background-size: 100rem;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  text-align: right;
}

li {
  display: inline-block;
  margin-inline: 0.7rem;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
li a span {
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
li a:hover span {
  color: #fff;
  background-color: #fff;
}
li a:hover {
  color: #fff;
}

.head {
  display: flex;
  justify-content: flex-start;
  gap: 60rem;
  place-content: center;
  z-index: 2;
}

.head h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

body header h1 {
  display: flex;
  place-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  position: relative;
  z-index: 2;
  top: 10rem;
  letter-spacing: 0.1em;
}
body header p {
  display: flex;
  place-content: center;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7rem;
  font-weight: 100;
  position: relative;
  z-index: 2;
  top: 17rem;
}

.egg-pic img {
  width: 50rem;
  height: auto;
}

main .egg {
  display: flex;
  justify-content: flex-start;
  gap: 0rem;
  place-content: center;
  position: relative;
  top: 40rem;
}

.words {
  padding: 5rem 0rem 5rem 5rem;
  background-color: #fff;
  width: 50rem;
}

.words h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5rem 20rem 1.5rem 0rem;
}
.words p {
  font-size: 1.5rem;
  color: gray;
  line-height: 1.7;
  text-align: left;
  padding: 0rem 7.4rem 1rem 0rem;
}

.words button {
  background: linear-gradient(white, white, white, peru);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem 0.5rem 2.5rem;
  margin: 2rem 7rem 1rem 0rem;
}
.egg .words button:hover {
  background: linear-gradient(white, white, white, yellow);
  cursor: pointer;
}

.cup-pic img {
  width: 50rem;
  height: auto;
}

main .cup {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  place-content: center;
  position: relative;
  top: 39.8rem;
}
.cup .words h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5rem 20rem 1.5rem 0rem;
}

.cup .words button {
  background: linear-gradient(white, white, white, #ffbff3);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem 0.5rem 2.5rem;
  margin: 2rem 7rem 1rem 0rem;
}
.words button:hover {
  background: linear-gradient(white, white, white, rgb(250, 80, 80));
  cursor: pointer;
}

.graphic img {
  width: 50rem;
  height: auto;
  z-index: 1;
  position: relative;
}
.photography img {
  width: 50rem;
  height: auto;
  z-index: 1;
  position: relative;
}
main .double-image {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  place-content: center;
  position: relative;
  top: 39.7rem;
}
main .de {
  display: flex;
  justify-content: flex-start;
  gap: 15rem;
  z-index: 2;
  place-content: center;
  position: absolute;
  top: 165rem;
  margin-right: 25rem;
  margin-left: 25rem;
}

.de .de-word1 h2 {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 44, 0);
  margin-right: 12rem;
  margin-left: 2rem;
}
.de .de-word2 h2 {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(3, 3, 83);
}
.de .de-word1 p {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: rgb(0, 44, 0);
  line-height: 1.5;
  margin-right: 12rem;
  margin-left: 2rem;
}
.de .de-word2 p {
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: rgb(3, 3, 83);
  line-height: 1.5;
  margin-right: 2rem;
  margin-left: 2rem;
}

section {
  position: relative;
  top: 37rem;
}

section h2 {
  text-transform: uppercase;
  color: gray;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 10rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main section .staffs {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-left: 15rem;
  margin-right: 15rem;
}

.emily img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.5em;
}

.thomas img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.5em;
}
.jennie img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.5em;
}

.staffs p {
  margin-bottom: 10rem;
  font-size: 1.3rem;
  color: gray;
  text-align: center;
  line-height: 1.5;
  margin-left: 3.3rem;
  margin-right: 3.3rem;
}

.staffs h3 {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  text-align: center;
}

.sunnyside-product img {
  width: 25rem;
  height: auto;
}

.sunnyside-product {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  position: relative;
  top: 40rem;
  place-content: center;
}

footer {
  position: relative;
  width: 100rem;
  /* margin-right: 10rem; */
  margin-left: 15.55rem;
  top: 40rem;

  background-size: 100rem;
  background-position: bottom center;
  background-color: #8ee1e2;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #066156;
  padding-bottom: 4rem;
}
.footer-link ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.footer-link li {
  display: inline-block;
  margin-inline: 1.5em;
  margin-bottom: 10rem;
}

.footer-link li a {
  color: #066156;
  text-decoration: none;
  font-size: 1.2rem;
  margin-inline: 2rem;
}

.footer-link a:hover {
  color: #fff;
  cursor: pointer;
}

.social-media ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.social-media li a {
  display: inline-block;
  margin-inline: 0.2em;
}

.social-media li a:hover {
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(222deg)
    brightness(190%) contrast(115%);
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  body {
    min-height: 100vh;
    background-image: url(img/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: row;
    place-content: center;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
  }

  li {
    display: block;
    margin-inline: 0.5rem;
  }

  li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .head {
    display: flex;
    justify-content: flex-start;
    gap: 21rem;
    place-content: center;
    z-index: 2;
  }

  body header h1 {
    display: flex;
    place-content: center;
    color: #fff;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 2rem;
    letter-spacing: 0.3rem;
  }
  body header p {
    display: flex;
    place-content: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10rem;
    font-weight: 100;
    position: relative;
    z-index: 2;
    top: 3.5rem;
  }
  main .egg {
    display: grid;
    grid-row: auto;
    position: relative;
    top: 25rem;
    z-index: 1;
    margin-bottom: 8rem;
  }

  .egg-pic {
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
  }

  .egg .words {
    position: absolute;
    top: 40rem;
    z-index: 2;
  }

  main .egg .words h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  .egg .words p {
    text-align: center;
    font-size: 1.5rem;
    position: relative;

    padding: 0rem 10rem 0rem 0.5rem;
  }
  .egg .words button {
    position: relative;
    margin-top: 1.5rem;
  }

  .cup-pic {
    position: relative;
    z-index: 1;
  }

  .cup .words {
    position: absolute;
    top: 50rem;
    z-index: 2;
  }

  main .cup .words h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;

    position: relative;
  }

  .cup .words p {
    text-align: center;
    font-size: 1.5rem;
    position: relative;

    padding: 0px 10rem 0px 0.5rem;
  }
  .cup .words button {
    position: relative;
    margin-top: 1.5rem;
  }
  main .cup {
    display: grid;
    grid-row: auto;
    position: relative;
    top: 50rem;
    z-index: 1;
  }

  main .double-image {
    display: grid;
    grid-row: auto;

    place-content: center;
    position: relative;
    top: 95rem;
  }
  .graphic img {
    z-index: 1;
    position: relative;
    top: 1rem;
  }
  .photography img {
    z-index: 1;
    position: relative;
  }

  main .de {
    display: grid;
    grid-row: auto;
    z-index: 2;
    position: absolute;
  }
  .de .de-word1 {
    display: block;
    position: relative;
    top: 80rem;
    left: 0;
    z-index: 2;
  }
  .de .de-word2 {
    display: block;
    position: relative;
    top: 75rem;
    left: 0;
    z-index: 2;
  }

  .de .de-word1 h2 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(0, 44, 0);
  }
  .de .de-word2 h2 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(3, 3, 83);
  }
  .de .de-word1 p {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    color: rgb(0, 44, 0);
    line-height: 1.5;
  }
  .de .de-word2 p {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    color: rgb(3, 3, 83);
    line-height: 1.5;
  }

  section {
    position: relative;
    top: 93rem;
  }
  .staffs {
    display: grid;
    grid-row: auto;
    gap: 1.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .staffs p {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    color: gray;
    text-align: center;
    line-height: 1.5;
  }
  .sunnyside-product {
    display: flow-root;
    position: relative;
    top: 95rem;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .sunnyside-product img {
    width: 15rem;
    height: auto;
  }

  footer {
    position: relative;
    top: 677px;
    margin-left: 25px;
    margin-left: 25px;

    background-color: #8ee1e2;
    width: 305px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }

  .social-media ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    margin-top: 50px;
  }

  .social-media li {
    display: inline-block;
    margin-inline: 0.1em;
  }
}
